<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Istorija</title>
    <link rel="stylesheet" href="/static/css/istorija.css">
    <link rel="stylesheet" type="text/css" href="/static/css/css.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <div>
</span>
        </a>
    </div>
</head>
<body>
<a href="sajt.html">
    <span style="font-size: 2em; color: ghostwhite;">
    <i class="fas fa-cloud-sun"></i>
    </span>
</a>
<table>
    <caption class="font">Istorija</caption>
    <thead>
    <tr>
        <th scope="col">Vreme</th>
        <th scope="col">Pritisak</th>
        <th scope="col">Prva Temperatura</th>
        <th scope="col">Druga Temperatura</th>
        <th scope="col">Prosecna Temperatura</th>
        <th scope="col">Vlaznost Vazduha</th>
    </tr>
    </thead>
    <tbody>
    {% for element in entries %}
    <tr>
        <td data-label="Vreme">{{element['vreme']}}</td>
        <td data-label="Pritisak">{{element['pritisak']}}</td>
        <td data-label="Prva Temperatura">{{element['temperatura_1']}}</td>
        <td data-label="Druga Temperatura">{{element['temperatura_2']}}</td>
        <td data-label="Prosecna Temperatura ">{{(element['temperatura_1']+element['temperatura_2'])/2}}</td>
        <td data-label="Vlaznost Vazduha">{{element['vlaznost_vazduha']}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>