<html>
<head>
    <link rel="stylesheet" href="/static/css/animation 1.css">
    <link rel="stylesheet" type="text/css" href="/static/css/css.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Bitter|Fira+Sans|Libre+Barcode+39|Patua+One|Ubuntu" rel="stylesheet">
    <link href="/static/css/speedometer.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/speedometer.js"></script>
    <script src="/static/js/gauge.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body class="bg">
    <div class="animated bounceInDown" id="naslov">
        <p>Podaci sa meteostanice</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <canvas id="foo"></canvas>
                <p class="pritisak">250</p>
            </div>
            <div class="col-sm">
                <canvas id="foo2"></canvas>
                <p class="pritisak">250</p></div>
            <div class="col-sm">
                <canvas id="foo3"></canvas>
                <p class="pritisak">250</p>
            </div>
        </div>
    </div>
<!--<div>
    <p class="font-pritisak">Pritisak</p>
</div>
<div id="speedometerWraper-myValues2">
    <style>#speedometerWraper-myValues2 .envelope{width  :300px;height :300px;}#speedometerWraper-myValues2 .speedNobe{height            :4px;top               :148px;transform         :rotate(-45deg);-webkit-transform :rotate(-45deg);-moz-transform    :rotate(-45deg);-o-transform      :rotate(-45deg);}#speedometerWraper-myValues2 .speedPosition{width  :80px;height :80px;top  :110px;left :110px;}#speedometerWraper-myValues2 .speedNobe div{width  :95px;left :13px;}#speedometerWraper-myValues2 .nob{width  :20px;height :4px;}#speedometerWraper-myValues2 .numb{width  :30px;height :16px;}#speedometerWraper-myValues2 .midNob{width  :10px;height :3px;}</style>
    <div class="envelope">
        <div class="speedNobe" style="transform: rotate(30deg);">,
            <div></div>
        </div>
        <div class="speedPosition">50<br>mbar</div>
        <div class="nob bright" style="left:51.638335216160755px;top:236.4150224601477px;transform         :rotate(-45deg);-webkit-transform :rotate(-45deg);-o-transform      :rotate(-45deg);-moz-transform    :rotate(-45deg)"></div>
        <div class="numb bright" style="left:78.37960135563574px;top:198.65881617130634px;">0</div>
        <div class="nob  midNob bright" style="left:20px;top:148.5px;transform         :rotate(0deg);-webkit-transform :rotate(0deg);-o-transform      :rotate(0deg);-moz-transform    :rotate(0deg)"></div>
        <div class="numb bright"></div><div class="nob" style="left:51.638335216160755px;top:59.584977539852304px;transform         :rotate(45deg);-webkit-transform :rotate(45deg);-o-transform      :rotate(45deg);-moz-transform    :rotate(45deg)"></div>
        <div class="numb" style="left:78.37960135563574px;top:71.34118382869366px;">60</div>
        <div class="nob  midNob" style="left:145.07545914605475px;top:23.50002277633297px;transform         :rotate(90deg);-webkit-transform :rotate(90deg);-o-transform      :rotate(90deg);-moz-transform    :rotate(90deg)"></div>
        <div class="numb"></div><div class="nob danger" style="left:228.4683479161363px;top:59.69172509334439px;transform         :rotate(135deg);-webkit-transform :rotate(135deg);-o-transform      :rotate(135deg);-moz-transform    :rotate(135deg)"></div>
        <div class="numb danger" style="left:205.69721049961814px;top:71.41804206720795px;">120</div>
        <div class="nob danger midNob" style="left:269.9999088946764px;top:148.6509182646106px;transform         :rotate(180deg);-webkit-transform :rotate(180deg);-o-transform      :rotate(180deg);-moz-transform    :rotate(180deg)"></div>
        <div class="numb"></div>
        <div class="nob danger" style="left:228.2548528480532px;top:236.5216411323721px;transform         :rotate(225deg);-webkit-transform :rotate(225deg);-o-transform      :rotate(225deg);-moz-transform    :rotate(225deg)"></div>
        <div class="numb danger" style="left:205.5434940505983px;top:198.73558161530792px;">180</div>
    </div>
</div>-->
    <script src="/static/js/manometar.js"></script>
</body>