<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/animation 1.css">
    <link rel="stylesheet" type="text/css" href="/static/css/css.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Bitter|Fira+Sans|Libre+Barcode+39|Patua+One|Ubuntu" rel="stylesheet">
    <link href="/static/css/speedometer.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/speedometer.js"></script>
    <script src="/static/js/gauge.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body >
<div class="ikona">
    <a href="istorija.html">
<span style="font-size: 2em; color: ghostwhite;">
<i class="fas fa-history"></i>
</span>
    </a>
</div>
<div class="animated bounceInDown" id="naslov">
    <p>Podaci sa meteostanice</p>
</div>
<div class="middle">
    <div class="container">
        <div class="row sredina">
            <div class="sredina col-sm">
                    <p class="font">PRITISAK VAZDUHA</p>
                    <canvas id="foo" style="height: 170px;" ></canvas>
                    <p class="pritisak">{{ pritisak/100 }}mbar</p>
            </div>
            <div class="sredina col-sm">
                    <p class="font">TEMPERATURA VAZDUHA</p>
                    <canvas id="foo2" style="height: 170px;"></canvas>
                    <p class="pritisak">{{ temperatura }}°C</p>

            </div>
            <div class="sredina col-sm">
                    <p class="font">VLAZNOST VAZDUHA</p>
                    <canvas id="foo3" style="height: 170px;"></canvas>
                    <p class="pritisak">{{ vazduh }}%</p>

            </div>
        </div>
    </div>
</div>
    <script src="/static/js/pritisak%20vazduha.js"></script>
    <script src="/static/js/temperatura.js"></script>
    <script src="/static/js/vlaznost%20vazduha.js"></script>
    <script>
        var pritisak={{ pritisak }};
        var temperatura={{ temperatura }};
        var vazduh={{ vazduh }};
        gaugepritisak.set(pritisak);
        gaugetemp.set(temperatura);
        gaugevazduh.set(vazduh);
    </script>
</body>