body {background-color: rgb(24,24,24) !important;}
#naslov{
	text-align: center;
	padding-top: 0px;
	font-family: 'Bitter', serif;
	font-size: 38px;
	color: ghostwhite;
}
#speedometerWraper-myValues2 {
	padding-left: 100px;
	padding-top: 0px;
}
.font-pritisak{
	text-align: center;
	font-family: 'Patua One', cursive;
	font-size: 19px;
	padding-top: 100px;
	padding-right: 915px;
	color: ghostwhite;
}
.pritisak{
	color: ghostwhite;
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
}
.sredina {
	text-align: center;
}
.middle {
	padding-top: 11%;
}
.ikona {
	position: revert;
}
.font{
	color: ghostwhite;
	font-family: 'Open Sans', sans-serif;
}